.container {
  margin-top: 1em;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-radius: 7px;
  gap: 2em;
}
.row {
  display: flex;
  /* justify-content: space-between; */
  align-items: start;
  padding-bottom: 2%;
  gap: 2em;
}
.submit {
  margin-top: 0.8em;
  justify-self: center;
}
