.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 0;
  position: sticky;
  top: 0px;
  /* z-index: 1; */
}

.content {
  flex-grow: 1;
}

.fotter {
  padding: 1rem;
}
