.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.header {
  /* display: flex; */
  /* position: fixed; */
  /* top: 0;
  left: 0;
  right: 0; */
  /* position: fixed; */
  /* position: sticky; */
  /* top: 0px; */
  /* z-index: 1; */
}

.content {
  /* position: relative; */
  /* margin-top: 10%; */
  /* position: relative; */
  flex-grow: 1;
  overflow: auto;
  background-color: var(--color-surface-100);
}

.fotter {
  padding: 1rem;
}
