.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modalContainer {
  position: fixed;
  border-radius: 7px;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: auto;
  padding: 1em;
  /* background-color: var(--color-surface-mixed-600); */
  z-index: 1000;
}

.closeButton {
  align-self: flex-end;
  padding-right: 1rem;
}

.closeButton:hover {
  cursor: pointer;
}
