.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1em;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.nav a:link,
.nav a:visited {
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border-radius: 7px;
  font-weight: 600;
  text-decoration: none;
}
.nav a:link:hover,
.nav a:visited:hover {
  color: var(--color-primary-400);
  /* transform: scale(1.2); */
}

.nav a:global(.active) {
  color: var(--color-primary-400);
}

a.loginLink:link,
a.loginLink:visited {
  display: flex;
  justify-content: space-between;
  /* background-color: var(--color-secondary-500); */
}

a.loguotLink:link,
a.loguotLink:visited {
  display: flex;
  justify-content: space-between;

  /* background-color: var(--color-secondary-100); */
}
.loginButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginButton:hover {
  /* color: var(--color-primary-400);
  transform: scale(1.2); */
}
