.container {
  display: flex;
  flex-direction: row;
  background-color: var(--color-surface-mixed-400);
  /* align-content: flex-start; */
  gap: 0.5em;
}
.sideBar {
  display: flex;
  position: sticky;
  top: 0;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  width: 5%;
  /* display: none; */
  /* display: block; */
  /* content: hide; */
  /* display: flex; */
  /* flex-direction: column; */
  background-color: var(--color-surface-mixed-400);
  /* transition-delay: 2s ease; */
  transition: 1s ease-in-out;
}

.sideBar.open {
  width: 30%;
  /* transition-delay: 0.5s ease; */
  /* transition: 1s ease-in-out; */
}
.contentContainer {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width: 70%; */
  background-color: var(--color-surface-mixed-200);
  flex-grow: 1;
  padding: 0.5em;
  overflow: hidden;
  /* transition: 1s ease-in-out; */
}

.sideBarContent {
  align-self: flex-start;
  display: none;
  background-color: var(--color-surface-mixed-400);
}

.sideBarContent.open {
  display: block;
}

.expandButton {
  /* background-color: aqua; */
  background-color: var(--color-surface-mixed-400);
  /* color: var(--color-surface-mixed-400); */
  align-self: flex-end;
}

:hover .expandButton {
  cursor: pointer;
}
