.container {
  display: flex;
  flex-direction: column;
  font-size: small;
  overflow: hidden;
  background-color: var(--color-surface-mixed-400);
}

.buttonCluster {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  justify-content: space-between;
}
button {
  /* margin: 1em; */
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.resultsContatiner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}
