.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-surface-mixed-400);
}

.sideBar.open {
  left: 0;
}

.sideBarToggle {
  /* position: absolute; */
  /* right: -60px;
  height: 60px;
  width: 60px;
  z-index: 1; */
}
/* .content.open {
  left: 15vw;
} */
