.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
}
.formContainer {
  display: flex;
  flex-direction: column;
}

.row {
  margin: 1em;
}

.deleteButton {
  display: flex;
  background-color: var(--color-secondary-100);
  border-radius: 10px;
  color: white;
  justify-content: center;
  margin: 1em;
  padding-block: 1em;
  padding-inline: 0.5em;
  width: fit-content;
  font-size: medium;
  font-weight: bold;
}
.deleteButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}
