.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-surface-300);
}

.filters {
  background-color: inherit;
}
.sorters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: inherit;
}

.row {
  display: flex;
  background-color: inherit;
  align-items: center;
}

.row label {
  background-color: inherit;
}
