.container {
  background-color: var(--color-surface-300);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--color-surface-300);
}

.list ul {
  background-color: var(--color-surface-300);
}

.list li {
  list-style: none;
  font-size: large;
  background-color: var(--color-surface-300);
  /* color: var(--color-primary-100); */
}
.list li p {
  background-color: var(--color-surface-300);
}

.list li:hover {
  font-size: larger;
  cursor: pointer;
  /* font-size-adjust: 20px; */
  resize: 1.5;
}
.selected {
  color: var(--color-primary-100);
  font-size: larger;
}
