.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: auto;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-left: 1em;
}
.movieDetailes {
  margin-inline: 1em;
}

.orderContent {
  display: flex;
  margin: 1em;
  justify-content: space-around;
  align-items: center;
}

.trailer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/*TODO: add magin */
