.page {
  /* display: flex; */
}
/* .sideBar {
  position: fixed;
  position: sticky;
  top: 130px;
  left: -30vw;
  height: 100%;
  width: 30vw;
  transition: left 0.8s ease;
  background-color: aqua;
} 

/* .sideBar.open {
  left: 0;
  transition: left 0.8s ease;
} */

/* .listContainer {
  position: absolute;
  top: 0px;
  height: 100%;
  margin-left: 0;
  transition: margin-left 0.8s ease;
  overflow-y: auto;
} */

/* .listContainer.open {
  margin-left: 30vw;
  transition: margin-left 0.8s ease;
  background-color: blue;
} */

/* .content {
  display: flex;
} */
