.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10em;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.row {
  display: flex;
  margin-bottom: 1em;
}
.row label {
  margin-right: 1em;
}
.buttonSubmit {
  background-color: var(--color-primary-300);
  margin-bottom: 1em;
}

.disabled {
  background-color: gray;
  color: lightgray;
}
.disabled:hover {
  cursor: not-allowed;
  transform: none;
}
